*.iml
.gradle
.gradle-user/
/local.properties
**/build/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.log
*.keystore
*.jks
